{
    "presets": [
        "stage-0", [
            "env", {
                "targets": {
                    "browsersList": "last 2 Chrome versions"
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}